<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.CostsharingDetaikstableDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.CostsharingDetaikstable">
        <result column="serno" property="serno" />
        <result column="costid" property="costid" />
        <result column="costname" property="costname" />
        <result column="currid" property="currid" />
        <result column="currencyname" property="currencyname" />
        <result column="amount" property="amount" />
        <result column="amountamortizedcurrency" property="amountamortizedcurrency" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        serno, costid, costname, currid, currencyname, amount, amountamortizedcurrency
    </sql>

</mapper>
