<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.DepttabDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Depttab">
        <id column="depid" property="depid" />
        <result column="depname" property="depname" />
        <result column="depremark" property="depremark" />
        <result column="deptrash" property="deptrash" />
        <result column="safetyone" property="safetyone" />
        <result column="safetytwo" property="safetytwo" />
        <result column="enables" property="enables" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        depid, depname, depremark, deptrash, safetyone, safetytwo, enables
    </sql>

</mapper>
