<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.McmDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Mcm">
        <id column="classID" property="classID" />
        <result column="className" property="className" />
        <result column="engName" property="engName" />
        <result column="accInvenoryID" property="accInvenoryID" />
        <result column="accSaleID" property="accSaleID" />
        <result column="accSaleCostID" property="accSaleCostID" />
        <result column="returnSaleID" property="returnSaleID" />
        <result column="otherIncomeID" property="otherIncomeID" />
        <result column="otherExpenseID" property="otherExpenseID" />
        <result column="otherCostID" property="otherCostID" />
        <result column="memo" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        classID, className, engName, accInvenoryID, accSaleID, accSaleCostID, returnSaleID, otherIncomeID, otherExpenseID, otherCostID, memo
    </sql>

</mapper>
