<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.OthercomeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Othercome">
        <id column="billNO" property="billNO" />
        <result column="adJustDate" property="adJustDate" />
        <result column="billStyleID" property="billStyleID" />
        <result column="WareID" property="WareID" />
        <result column="salesName" property="salesName" />
        <result column="departID" property="departID" />
        <result column="marke" property="marke" />
        <result column="permitter" property="permitter" />
        <result column="clitrash" property="clitrash" />
        <result column="enables" property="enables" />
        <result column="safetyone" property="safetyone" />
        <result column="safetytwo" property="safetytwo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        billNO, adJustDate, billStyleID, WareID, salesName, departID, marke, permitter, clitrash, enables, safetyone, safetytwo
    </sql>

</mapper>
