<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.SellorderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Sellorder">
        <id column="billNo" property="billNo" />
        <result column="billDate" property="billDate" />
        <result column="sinId" property="sinId" />
        <result column="sinName" property="sinName" />
        <result column="customerID" property="customerID" />
        <result column="custShortName" property="custShortName" />
        <result column="addreassID" property="addreassID" />
        <result column="custAddress" property="custAddress" />
        <result column="orderStatus" property="orderStatus" />
        <result column="currID" property="currID" />
        <result column="PriceOfTax" property="PriceOfTax" />
        <result column="SalasID" property="SalasID" />
        <result column="SalasName" property="SalasName" />
        <result column="DeparID" property="DeparID" />
        <result column="DeparName" property="DeparName" />
        <result column="Maker" property="Maker" />
        <result column="Permitter" property="Permitter" />
        <result column="checkstate" property="checkstate" />
        <result column="remark" property="remark" />
        <result column="sumBTaxAmt" property="sumBTaxAmt" />
        <result column="sumTax" property="sumTax" />
        <result column="sumAmtTax" property="sumAmtTax" />
        <result column="enables" property="enables" />
        <result column="safetyone" property="safetyone" />
        <result column="safetytwo" property="safetytwo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        billNo, billDate, sinId, sinName, customerID, custShortName, addreassID, custAddress, orderStatus, currID, PriceOfTax, SalasID, SalasName, DeparID, DeparName, Maker, Permitter, checkstate, remark, sumBTaxAmt, sumTax, sumAmtTax, enables, safetyone, safetytwo
    </sql>

</mapper>
