<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.StoragetypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Storagetype">
        <id column="classId" property="classId" />
        <result column="className" property="className" />
        <result column="engName" property="engName" />
        <result column="memo" property="memo" />
        <result column="accSubjectId" property="accSubjectId" />
        <result column="accSubjectName" property="accSubjectName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        classId, className, engName, memo, accSubjectId, accSubjectName
    </sql>

</mapper>
